body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #faefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    padding: 20px;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

header .logo {
    grid-row: span 2;
    height: 20px; /* Ajusta el tamaño del logo según sea necesario */
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-family: "Libre Baskerville", serif;
}

header p {
    margin: 5px 0;
    font-size: 12px;
    font-family: "Edu TAS Beginner", cursive;
}
header h2{
    margin: 0;
    font-size: 18px; 
    font-family: "Libre Baskerville", serif;
}
header p:hover{
    color: #f0fb28;
}
header h2:hover{
    color: #f0fb28;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-block {
    background-color: #f8c79f;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-block h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.info-block p {
    margin: 5px 0;
}

.links {
    text-align: center;
    display: grid;
    gap: 1px;
}

.link {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #2980b9;
}
footer{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    font-family: "Edu TAS Beginner", cursive;
    font-size: 8px;
}
footer .logo{
    grid-row: span 2;
    height: 20px; /* Ajusta el tamaño del logo según sea necesario */
    }

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 90%;
        grid-template-rows: auto auto auto;
    }

    .info {
        grid-template-columns: 1fr;
    }

    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
    }

    header .logo {
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
    }

    .header h1 {
        font-size: 20px;
    }
    footer .logo{
        grid-row: span 2;
        height: 20px; /* Ajusta el tamaño del logo según sea necesario */
        }
}
